body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px; /*vai ser somado o padding por causa do box-sizinf border box*/
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px; /*este padding top bottom é para aumentar a area de clique do utilizado, as laterais 0 para nao aumentar ainda mais o espaço entre os links alem do gap*/
  display: inline-block; /*para o padding poder funcionar, pois o <a> é um elemento inline que não aceita espaçamento vertical (margin e padding nas partes superior e inferior).  */
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: " ";
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute; /*necessário para manter o header-menu a centralizado, pois como foi aplicado height 2px + 4px de margin-top desalinhou-se, ao definir o mesmo como absolute e o pai como relativo ele é tirado do fluxo */
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
